<script src="delete.js"></script>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>開始時間</th>
      <th>終了時間</th>
      <th>作業時間</th>
      <th></th>
    </tr>
  </thead>
<% @logs.all().reverse_each do |l| %>
  <tr id="<%= l.id %>" class="<%= if l.worktype == 0 then 'table-danger' else 'table-info' end %>" >
      <td><%= Time.at(l.starttime.to_i) %></td>
      <td><%= Time.at(l.endtime.to_i) %></td>
      <td><%= to_time_text(l.endtime.to_i - l.starttime.to_i) %></td>
      <td>
        <a type="button" class="btn btn-outline-dark" onclick="del_pomodoro('<%= l.id %>')"><i class="fas fa-trash"></i></a>
      </td>
  </tr>
<% end %>
</table>
